 <div class="container" ng-controller="BarCtrl">
        <h1>Commandes</h1>
        <a ng-href="/client">Accéder au coté client</a>
        <table class="table">

            <!-- Header tableau -->    
            <thead>
                <tr>
                    <th>Numero</th>
                    <th>Contenu</th>
                    <th>Action</th>
                    <th></th>
                </tr>
            </thead>
            
            <!-- Body tableau -->    
            <tbody>
                <tr ng-repeat="order in orderlist">
                    <td>{{order.number}}</td>
                    <td>{{order.drinks}}</td> 
                </tr>
            </tbody>
        </table>
    </div>