    <!-- Menu -->
    <header>
        <ul class="nav nav-pills nav-justified" >
            <li role="presentation"><a ui-sref=".accueil"><span class="glyphicon glyphicon-home"></span> Accueil</a></li>
            <li role="presentation"><a ui-sref=".bar"><span class="glyphicon glyphicon-list-alt"></span> Bar</a></li>
            <li role="presentation"><a ui-sref=".client"><span class="glyphicon glyphicon-user"></span> Client</a></li>
            <li role="presentation"><a ui-sref=".account"><span class="glyphicon glyphicon-cog"></span> Mon Compte</a></li>
        </ul>
    </header>
    
    <!-- Injection du contenu des vues ici -->
    <div ui-view></div>  