<style> body { padding-top:80px; } </style>

<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Bienvenue sur Billy</h1><br>

        <a ui-sref="home" class="btn btn-default">Accéder à l'application sans connexion </a><br><br>

        <a ui-sref="login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a ui-sref="signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>   
    
</div>